.zodiacCard {
  width: 200px;
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  color: var(--color4);
  background-color: var(--color3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.zodiacCard:hover {
  background-color: var(--color5);
}

.name {
  text-transform: uppercase;
}
