body {
  --color1: #fab3a9;
  --color2: #c6ad94;
  --color3: #7fb285;
  --color4: #463239;
  --color5: #ed6b86;
  --header-height: 40px;
  font-family: 'Helvetica', sans-serif;
}

body {
  background-color: var(--color2);
}
